body {
  background-color: beige;
}

#job-sum {
  display: none;
}

#job-sum-2 {
  display: none;
}

#job-sum-img {
  display: none;
}

#job-sum-3 {
  display: none;
}

#education {
  display: none;
}

#education-2 {
  display: none;
}

#education-3 {
  display: none;
}

#education-4 {
  display: none;
}

#vocation {
  display: none;
}

#vocation-2 {
  display: none;
}

#conclusion {
  display: none;
}

#conclusion-2 {
  display: none;
}

#intro-img {
  width: 30%;
  height: 30%;
}

#education-img {
  width: 30%;
  height: 30%;
  display: none;
}

.biblio {
  background-color: rgb(200, 220, 226);
}
